<p id="notice"><%= notice %></p>

<p>
  <strong>Customer:</strong>
  <%= @house.user_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @house.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @house.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @house.state %>
</p>

<p>
  <strong>Zip code:</strong>
  <%= @house.zip_code %>
</p>

<p>
  <strong>Price:</strong>
  <%= @house.price %>
</p>

<p>
  <strong>Operation:</strong>
  <%= @house.operation_name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @house.description %>
</p>

<iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q=<%= @house.address %>&amp;output=embed"></iframe><br />
<br>
<% if current_user.customer? && !user_has_reserved?(current_user.id, @house.id) %>
  <%= button_to "To Reserve", house_reservations_path(@house), class: 'btn btn-success' %><br>
<% end %>

<% if current_user.customer? && user_has_reserved?(current_user.id, @house.id) %>
  <%= button_to "Cancel Reserve", house_reservation_path(@house.id, current_user.id), method: :delete, data: { confirm: "Are you sure?" }, class: 'btn btn-danger' %>
<% end %>
<%= link_to 'Back', houses_path %>
